@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 228 67% 97%;
    --foreground: 231 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 231 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 20% 15%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 50% 92%;
    --secondary-foreground: 231 20% 15%;
    --muted: 228 50% 92%;
    --muted-foreground: 231 20% 45%;
    --accent: 222 100% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 30% 88%;
    --input: 228 30% 88%;
    --ring: 222 100% 58%;
    --chart-1: 231 48% 48%;
    --chart-2: 222 100% 58%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 231 20% 26%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 228 67% 97%;
    --sidebar-accent-foreground: 231 48% 48%;
    --sidebar-border: 228 30% 88%;
    --sidebar-ring: 222 100% 58%;
  }
  .dark {
    --background: 230 20% 7%;
    --foreground: 0 0% 98%;
    --card: 230 20% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 230 20% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 20% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 230 20% 17%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 222 100% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 20% 17%;
    --input: 230 20% 17%;
    --ring: 222 100% 65%;
    
    --chart-1: 231 48% 52%;
    --chart-2: 222 100% 65%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --sidebar-background: 230 20% 11%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 231 48% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 230 20% 17%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 230 20% 17%;
    --sidebar-ring: 222 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
